.profileCardContainer {
  display: flex;
  justify-content: center;
  height: 40%;
}

.profileCardContainer #profileImg {
  height: 100%;
  border-radius: 15px;
  margin-right: 2%;
}

.profileIcon {
  padding-left: 15%;
  height: 40px;
}

.profileTextCell {
  width: 100%;
  padding-top: 2.5%;
  padding-left: 2%;
}

#personalInfoBox p {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--fontFamily);
}

#progressBar {
  width: 100%;
  margin-top: 2%;
}

#personalInfoBox {
  width: 40%;
  height: 100%;
  text-align: start;
}
