:root {
  --textBackground: #fafafa;
  --textColor: black;
  --textHighlight: rgb(255, 255, 124);
}

.App {
  text-align: center;
}

.headerContainer {
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100px;
}

.headerName {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
