@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');

:root {
  --textBackground: #fafafa;
  --textColor: black;
  --textHighlight: rgb(255, 255, 124);
}

.App {
  text-align: center;
}

.headerContainer {
  background: #1F1C2C;
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
  background: linear-gradient(to right, #928DAB, #1F1C2C);
  font-family: 'Roboto';
}

#Content {
  background-color: black;
}
