.landingContainer {
  width: 100%;
  text-align: center;
  background: #1F1C2C;
  background: -webkit-linear-gradient(to top, #928DAB, #1F1C2C);
  background: linear-gradient(to top, #928DAB, #1F1C2C);
}

.description {
  background-color: var(--textBackground);
  opacity: .6;
  border-radius: 15px;
}

.descriptionStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.description h1 {
  font-size: 45px;
  font-weight: bold;
}

.description h4 {
  font-weight: bold;
}
